:root {
  --bg-color: #ffdf61;
  --text-color: #6e4332;
  --secondary-color: #fff4c8;
  --alt-color: #ededed;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  color: var(--text-color);
}

html,
body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

body {
  padding: 0rem 1rem;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  min-height: 100vh;
  /* max-width: 100%; */
}

header,
footer {
  padding: 32px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Zilla Slab", serif;
  font-weight: bold;
  font-size: 20px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  border-radius: 0 0 24px 24px;
}

a{
  text-decoration: none;
}

.company-logo {
  height: 64px;
}

nav {
  padding: 1.25rem;
  border-radius: 1.5rem;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  overflow-x: scroll;
}

nav::-webkit-scrollbar {
  display: none;
}

footer {
  border-radius: 24px 24px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 1.5rem;
}

footer .logo{
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 8px;
}

.footer-icon {
  width: 24px;
}

#socials {
  margin: 24px 0 0 0;
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.social-icon {
  height: 20px;
}

main {
  flex-grow: 1;
}

.header-icon {
  width: 24px;
}

.nav-button {
  width: 100%;
  background-color: var(--bg-color);
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-decoration: none;
}

.nav-icon {
  width: 18px;
}

.card {
  margin: 12px 0 12px 0;
  padding: 2rem 2rem;
  height: fit-content;
  border-radius: 24px;
  gap: 1.5rem;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.promo-card {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu-card {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--alt-color);
}

.card-title {
  font-family: "Zilla Slab", serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  text-align: center;
}

.card-text {
  font-family: Inter, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: var(--text-color);
  text-align: center;
}

.more-button {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.125rem;
  border-radius: 8px;
  border: none;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Zilla Slab", serif;
  font-size: 1rem;
  letter-spacing: -0.03rem;
  text-decoration: none;
}

.inner-card {
  /* margin: 20px 0 20px 0; */
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 600px;
}

.inner-card div {
  width: 25%;
  height: 12rem;
  position: relative;
  overflow: hidden;
}

.inner-card div img {
  height: 17rem;
  position: absolute;
}

.inner-card .summer {
  border-start-start-radius: 1.5rem;
  border-end-start-radius: 1.5rem;
  background-color: #ffdf61;

  & img {
    height: 20rem;
    top: -10px;
    left: -2rem;
  }
}

.inner-card .autumn {
  background-color: #ff8b61;

  & img {
    top: -14px;
    left: 10px;
  }
}

.inner-card .winter {
  background-color: #617ef5;

  & img {
    top: 4px;
    left: -10px;
  }
}

.inner-card .spring {
  border-start-end-radius: 1.5rem;
  border-end-end-radius: 1.5rem;
  background-color: #a1ef71;

  & img {
    top: 6px;
    left: -16px;
  }
}

.inner-card-text {
  font-family: "Zilla Slab", serif;
  font-size: 1.5rem;
  font-weight: 600;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 12px;
  margin: 32px 20px 32px 20px;

  & span {
    text-wrap: nowrap;
  }
}

.inner-card-title {
  font-weight: 700;
  font-size: 2rem;
}

.inner-promo {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 600px;
  height: 225px;
  padding: 1.5rem;
  border-radius: 1.5rem;
}

#summer {
  background-color: var(--bg-color);
  background-image: url("./assets/images/promo/summer.png");
  background-position: top 15% right -4rem;
  background-size: 275px;
  background-repeat: no-repeat;
}

.more-button:link {
  color: rgb(233, 233, 41);
}

.more-button:visited {
  color: rgb(124, 124, 39);
}

.more-button:hover {
  color: rgb(255, 217, 0);
}

.more-button:active {
  color: rgb(31, 26, 3);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

table {
  background-color: var(--bg-color);
  border-radius: 1.5rem;
  border-spacing: 24px;
  padding: 0.2rem;
}

table thead tr th {
  text-align: start;
}

@media screen and (min-width: 1280px) {
  header .icon {
    display: none;
  }
}
