html, body {
    margin: 0;
    padding-left: 8px;
    padding-right: 8px;
    font-family: "Inter", sans-serif;
}

header, footer {
    padding: 32px;
    background-color: #FFDF61;
    color: #6E4332;
    font-family: "Zilla Slab", serif;
    font-weight: bold;
    font-size: 20px;
}

header {
    display: flex;
    flex-direction: row;
    gap: 12px;
    border-radius: 0 0 24px 24px;
}

footer {
    border-radius: 24px 24px 0 0;
}